h1,
h2{
    font-size: 24px;
    letter-spacing: 1px;
    color: #bfbfbf;
    font-weight: bold;
    font-family: "Arial";
    margin-bottom: 30px;
    margin-top: 50px;
}
h2:first-child{
    margin-top: 30px;
}
th{
    border: 1px solid #3f4852;
}
td{
    border: 1px solid #c0c1c2;
}
.navigation_ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0;
    background-color: #2a3644;
    border-radius: 3px;
    margin-bottom: 26px;
}
.navigation:last-child{
    margin-bottom: 0;
}
.navigation_a{
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    border: 1px solid #3f4852;
    border-top: 0;
    border-bottom: 0;
    padding: 13px 30px;
    display: block;
}
.navigation_li:first-child>a{
    border-radius: 3px 0 0 3px;
}
.navigation_li:last-child>a{
    border-radius: 3px;
}
.navigation_a:hover{
    background-color: #3f4852;
    color: #fd8612;
}
.navigation_li_s:hover>.navigation_a_s{
    color:#ff8505;
    background-color: #2a3644;
}
.navigation_li:first-child a{
    border-left: 0;
}
.navigation_li:last-child a{
    border-right: 0;
}
.nav2 a{
    padding: 13px 43.3px;
    border-left: 0;
}
.nav2 li:last-child a{
    border-right: 0;
}
.submenu>li>a{
    background-color: #d2d4d5;
}
.nav3 ul,
.nav2 ul{
    justify-content: start;
}
.navigation .submenu{
    margin-top: 0;
    display: none;
    position: absolute;
    padding-top: 5px;
}
.navigation .submenu li{
    display: block;
}
.navigation .submenu a{
    font-size: 15px;
    color: #2a3644;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    display: block;
    border-top: 1px solid #b9bdc1;
    padding: 13px 20px;
    background-color: #d2d4d5;
}
.navigation .submenu>li:first-child>a,
.navigation .submenu>li>ul>li:first-child>a,
.navigation .submenu>li>ul>li>ul>li:first-child>a{
    border-radius: 3px 3px 0 0;
}
.navigation .submenu>li:last-child>a,
.navigation .submenu>li>ul>li:last-child>a,
.navigation .submenu>li>ul>li>ul>li:last-child>a{
    border-radius: 0 0 3px 3px;
}
.navigation .submenu_2 a{
    font-size: 15px;
    color: #ff8505;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    display: block;
    border-top: 1px solid #b9bdc1;
    padding: 12.5px 20px;
}
.navigation .submenu li:first-child>a{
    border: 0;
}
.navigation .submenu a:hover{
    background-color: #2a3644;
    color: #ff8505;
}
.navigation .submenu{
    padding-left: 0;
    width: 200px;
}
.navigation .navigation_li:hover>a{
    background-color: #3f4852;
    color: #fd8612;
}
.navigation .k:hover>.submenu{
    display: block;
}
.navigation_li .s2{
    width: 220px;
}
.navigation_li .s4{
    right: 0;
}
.navigation .m{
    position: relative;
}
.s_submenu{
    display: none;
    color: #fff;
}
.f:hover>.s_submenu{
    display: block;
}
.navigation .s6 a:hover{
    background-color: #2a3644;
}
.s6{
    position: absolute;
    left: 200px;
    top: 1px;
    padding-left: 5px;
    width: 200px;
}
.s7{
    position: absolute;
    right: 200px;
    top: 1px;
    padding-left: 0;
    width: 200px;
    padding-right: 5px;
}
.navigation_a_s{
    border-right: 0;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.submenu_flex{
    width: 440px;
    background-color: #d2d4d5;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.wrapper .submenu_flex a{
    width: 180px;
    border: 0;
    border-bottom: 1px solid #b9bdc1;
    border-right: 1px solid #b9bdc1;
    padding: 13px 19.5px;
}
.wrapper .submenu_flex li:first-child a{
    border: 0;
    border-right: 1px solid #b9bdc1;
    border-bottom: 1px solid #b9bdc1;
}
.wrapper .submenu_flex li:nth-child(7) a{
    border-bottom: 0;
}
.wrapper .submenu_flex li:nth-child(2) a,
.wrapper .submenu_flex li:nth-child(4) a,
.wrapper .submenu_flex li:nth-child(6) a{
    border-right: 0;
}
.golovna:before{
    content: "";
    background: url(../images/sprite.png) no-repeat;
    background-position: -53px -19px;
    padding-right: 30px;
}
.social{
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
}
.social>li{
    display: inline;
}
.social a{
    display: block;
    background: url(../images/sprite.png) no-repeat;
    transition: all 0.3s ease;
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
}
a.fb{
    width: 10px;
    height: 19px;
    background-position: 0 0;
}
a.twitter{
    width: 18px;
    height: 15px;
    background-position: -33px 0;
}
a.instagram{
    width: 19px;
    height: 19px;
    background-position: -12px 0;
}
a.fb:hover{
    background-position: 0 -21px;
}
a.twitter:hover{
    background-position: -33px -21px;
}
a.instagram:hover{
    background-position: -12px -21px;
}
.table{
    border: 0;
    width: 100%;
}
td{
    border: 1px solid #c0c1c2;
    border-bottom: 0;
    border-left: 0;
    padding: 13px 20px;
    font-family: "Arial";
}
td:last-child{
    border-right: 0;
}
.tbody>tr>td{
    background-color: #f2f2f2;
}
.tbody tr:nth-child(2n) td{
    background-color: #e8e8e8;
}
.tbody tr:hover td{
    background-color: #c0c1c2;
}
.wrapper{
    margin: 0 auto;
    width: 960px;
}
td{
    font-size: 16px;
    color: #2a3644;
    font-family: "Arial";
}
.tbody>tr>td:first-child{
    text-align: center;
}
.tbody>tr>td:nth-child(3),
.tbody>tr>td:nth-child(4),
.tbody>tr>td:nth-child(5){
    text-align: right;
}
.table{
    border-collapse: collapse;
}
.thead,
.head_of_table{
    border-radius: 3px 3px 0 0;
    background-color: #2a3644;
}
.name_n{
    padding: 20px 0;
}
.name{
    padding: 20px 450px 20px 12px;
}
.no{
    padding-left: 25px;
    padding-right: 25px;
}
.titles,
.header_of_table_p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
}
.years{
    padding: 13px 45px;
}
.results{
    padding: 13px 0;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row_of_table{
    background-color: #f2f2f2;
}
.row_of_table:nth-child(2n+1){
    background-color: #e8e8e8;
}
.row_of_table:hover{
    background-color: #c0c1c2;;
}
.row p:first-child{
    width: 100px;
}
.row p{
    font-family: "Arial";
    margin: 0;
    padding: 13px 20px;
    border: 1px solid #c0c1c2;
    border-bottom: 0;
    border-left: 0;
}
.row1 p,
.row2 p,
.row3 p,
.row4 p,
.row5 p{ 
    font-size: 16px;
    color: #2a3644;  
}
.head_of_table>.header_of_table_p{
    border: 0;
    border-left: 1px solid #3f4852;
    border-bottom: 0;
}
.head_of_table .n{
    border: 0;
}
.row p:last-child{
    border-right: 0;
}
.row p:nth-child(2){
    width: 100%;
}
.row>.p,
.header_of_table_p{
    width: 100px;
}
.style_table{
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 100px;
}
.table_table{
    border-radius: 3px;
    overflow: hidden;
}
.row>p:first-child{
    padding: 13px 20px;
    width: 50px;
    text-align: center;
}
.c1{
    width: 180px;
    text-align: center;
}
.row .p{
    padding-left: 59px;
    text-align: right;
}
